<?xml version="1.0" encoding="utf-8"?>
<configuration> 

<connectionStrings>

<add name="KisiselVerilerDBContext1" connectionString="metadata=res://*/KisiselVerilerDB.KisiselVerilerDB.csdl|res://*/KisiselVerilerDB.KisiselVerilerDB.ssdl|res://*/KisiselVerilerDB.KisiselVerilerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=KisiselVerilerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings></configuration>